################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DVLD/.vs/DVLD/FileContentIndex
